@charset "UTF-8";
/*
© Copyright https://kcak11.com / https://ashishkumarkc.com
*/
* {
  outline: none;
}

body {
  background-color: #000;
  font-family: Verdana;
}
body .container {
  background-color: #5aa0d4;
  width: 360px;
  height: 200px;
  border-radius: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -180px;
  margin-top: -100px;
}
body .container:hover {
  background-color: rgba(0, 227, 255, 0.52);
}
body .container label[for="playlist"] {
  color: #fff;
  width: 250px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -125px;
}
body .container select[name="playlist"] {
  width: 250px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -125px;
}
body .container label.audioLoop {
  padding-left: 25px;
  color: #fff;
  font-size: 11px;
  width: 250px;
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -125px;
}
body .container label.audioLoop input {
  position: absolute;
  top: 50%;
  left: 0px;
}
body .container button.play {
  width: 100px;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -50px;
}
body .container audio {
  width: 250px;
  position: absolute;
  top: 125px;
  left: 50%;
  margin-left: -125px;
}
body .visibleNone {
  visibility: hidden;
}
